@import url("https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic");

.wrapper {
}
.content {
  flex: 1 1 auto;
  padding: 50px 0px;
}
.make {
  &__wrap {
  }

  &__body {
    background: #5d62b5;
    border-radius: 40px;
    filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24))
      drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
    padding: 76px 57px;
    max-width: 585px;
    margin: 0px auto;
  }

  &__title {
    font-family: "Roboto";
    font-weight: 900;
    font-size: 36px;
    line-height: 117%;
    text-align: center;
    color: #ffffff;
    margin-bottom: 43px;
  }

  &__inputs {
  }

  &__inputs-form {
  }
  &__inputs-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -11.22px;
  }

  &__input {
    padding: 0px 11.22px;
    margin-bottom: 22px;
    display: flex;
    flex: 1 1 50%;
  }

  &__input-area {
    background: #5d62b5;
    border: 2px solid #ffffff;
    border-radius: 10px;
    color: #ffffff;
    padding: 17px 23.58px 15px 23.58px;
    flex: 1 1 auto;
  }

  &__input-text {
  }

  &__input-area-text {
    background: #5d62b5;
    border: 2px solid #ffffff;
    border-radius: 10px;
    padding: 17px 23px;
    width: 100%;
    max-width: 470px;
    min-height: 180px;
    resize: vertical;
    display: flex;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }

  &__btn-wrap {
    margin-top: 30px;
    display: flex;
    flex-direction: row-reverse;
  }

  &__button {
    color: #ffffff;

    align-items: center;
    text-align: center;
    letter-spacing: 0.15px;
    text-transform: uppercase;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 12px;
    line-height: 200%;
    background: #f2726f;
    border-radius: 8px;
    padding: 9px 37px;
  }
}
.container {
}

.make__input-area-text::placeholder {
  color: #ffffff;

  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
.make__input-area::placeholder {
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.container {
}
.footer {
  background-color: #f5f4f6;
  &__row {
    display: flex;
    height: 65px;
    justify-content: center;
    align-items: center;
  }

  &__text {
    color: #445162;
    font-size: 12px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
  }
}
