@import url("https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic");
.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 50px 0px;
}

.make__body {
  background: #5d62b5;
  border-radius: 40px;
  -webkit-filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
          filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
  padding: 76px 57px;
  max-width: 585px;
  margin: 0px auto;
}
.make__title {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 36px;
  line-height: 117%;
  text-align: center;
  color: #ffffff;
  margin-bottom: 43px;
}
.make__inputs-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -11.22px;
}
.make__input {
  padding: 0px 11.22px;
  margin-bottom: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}
.make__input-area {
  background: #5d62b5;
  border: 2px solid #ffffff;
  border-radius: 10px;
  color: #ffffff;
  padding: 17px 23.58px 15px 23.58px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.make__input-area-text {
  background: #5d62b5;
  border: 2px solid #ffffff;
  border-radius: 10px;
  padding: 17px 23px;
  width: 100%;
  max-width: 470px;
  min-height: 180px;
  resize: vertical;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
.make__btn-wrap {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.make__button {
  color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.15px;
  text-transform: uppercase;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 12px;
  line-height: 200%;
  background: #f2726f;
  border-radius: 8px;
  padding: 9px 37px;
}

.make__input-area-text::-webkit-input-placeholder {
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.make__input-area-text::-moz-placeholder {
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.make__input-area-text:-ms-input-placeholder {
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.make__input-area-text::-ms-input-placeholder {
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.make__input-area-text::placeholder {
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.make__input-area::-webkit-input-placeholder {
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.make__input-area::-moz-placeholder {
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.make__input-area:-ms-input-placeholder {
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.make__input-area::-ms-input-placeholder {
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.make__input-area::placeholder {
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.footer {
  background-color: #f5f4f6;
}
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 65px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__text {
  color: #445162;
  font-size: 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}